fastapi
uvicorn
python-dotenv
fastapi-cache2
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
celery
redis
aiosmtplib
emails
alembic
httpx
jinja2
bcrypt
boto3
cryptography
cython
email-validator
firebase-admin
google-auth
haversine
httptools
numerize
numpy
openpyxl
pandas
Pillow
pyasn1
pycparser
pydantic
pytest
python-dateutil
python-multipart
python-resize-image
PyYAML
qrcode
requests
typer
weasyprint
websockets
Werkzeug
pytz
# cloudinary
# python-multipart